<div class="" >
  <label for="{{id}}" ng-class="fc.$valid ? '' : 'error'">
    <span class="formly-wrapper-label">{{to.label}}</span>
    <span class="formly-wrapper-required" >{{to.required ? '*' : ''}}</span>
    <formly-transclude></formly-transclude>
  </label>
  <small ng-messages="fc.$error" ng-if="options.formControl.$touched" class="my-messages error">
      <span  ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" class="form-error is-visible">{{message(fc.$viewValue, fc.$modelValue, this)}} ,</span>
  </small>
</div>
